@font-face {font-family: 'AvenirLTStd-Book';src: url('../fonts/30B7EC_0_0.eot');src: url('../fonts/30B7EC_0_0d41d.eot?#iefix') format('embedded-opentype'),url('../fonts/30B7EC_0_0.woff2') format('woff2'),url('../fonts/30B7EC_0_0.woff') format('woff'),url('../fonts/30B7EC_0_0.ttf') format('truetype');}


@font-face {font-family: 'AvenirLTStd-MediumOblique';src: url('../fonts/30B7EC_1_0.eot');src: url('../fonts/30B7EC_1_0d41d.eot?#iefix') format('embedded-opentype'),url('../fonts/30B7EC_1_0.woff2') format('woff2'),url('../fonts/30B7EC_1_0.woff') format('woff'),url('../fonts/30B7EC_1_0.ttf') format('truetype');}


@font-face {font-family: 'AvenirLTStd-BookOblique';src: url('../fonts/30B7EC_2_0.eot');src: url('../fonts/30B7EC_2_0d41d.eot?#iefix') format('embedded-opentype'),url('../fonts/30B7EC_2_0.woff2') format('woff2'),url('../fonts/30B7EC_2_0.woff') format('woff'),url('../fonts/30B7EC_2_0.ttf') format('truetype');}


@font-face {font-family: 'AvenirLTStd-Medium';src: url('../fonts/30B7EC_3_0.eot');src: url('../fonts/30B7EC_3_0d41d.eot?#iefix') format('embedded-opentype'),url('../fonts/30B7EC_3_0.woff2') format('woff2'),url('../fonts/30B7EC_3_0.woff') format('woff'),url('../fonts/30B7EC_3_0.ttf') format('truetype');}


@font-face {font-family: 'AvenirLTStd-BlackOblique';src: url('../fonts/30B7EC_4_0.eot');src: url('../fonts/30B7EC_4_0d41d.eot?#iefix') format('embedded-opentype'),url('../fonts/30B7EC_4_0.woff2') format('woff2'),url('../fonts/30B7EC_4_0.woff') format('woff'),url('../fonts/30B7EC_4_0.ttf') format('truetype');}


@font-face {font-family: 'AvenirLTStd-Black';src: url('../fonts/30B7EC_5_0.eot');src: url('../fonts/30B7EC_5_0d41d.eot?#iefix') format('embedded-opentype'),url('../fonts/30B7EC_5_0.woff2') format('woff2'),url('../fonts/30B7EC_5_0.woff') format('woff'),url('../fonts/30B7EC_5_0.ttf') format('truetype');}


@font-face {font-family: 'FFMarkWebPro';src: url('../fonts/30B7EC_6_0.eot');src: url('../fonts/30B7EC_6_0d41d.eot?#iefix') format('embedded-opentype'),url('../fonts/30B7EC_6_0.woff2') format('woff2'),url('../fonts/30B7EC_6_0.woff') format('woff'),url('../fonts/30B7EC_6_0.ttf') format('truetype');}


@font-face {font-family: 'FFMarkWebProLight';src: url('../fonts/30B7EC_7_0.eot');src: url('../fonts/30B7EC_7_0d41d.eot?#iefix') format('embedded-opentype'),url('../fonts/30B7EC_7_0.woff2') format('woff2'),url('../fonts/30B7EC_7_0.woff') format('woff'),url('../fonts/30B7EC_7_0.ttf') format('truetype');}


@font-face {font-family: 'FFMarkWebProItalic';src: url('../fonts/30B7EC_8_0.eot');src: url('../fonts/30B7EC_8_0d41d.eot?#iefix') format('embedded-opentype'),url('../fonts/30B7EC_8_0.woff2') format('woff2'),url('../fonts/30B7EC_8_0.woff') format('woff'),url('../fonts/30B7EC_8_0.ttf') format('truetype');}


@font-face {font-family: 'FFMarkWebProBold';src: url('../fonts/30B7EC_9_0.eot');src: url('../fonts/30B7EC_9_0d41d.eot?#iefix') format('embedded-opentype'),url('../fonts/30B7EC_9_0.woff2') format('woff2'),url('../fonts/30B7EC_9_0.woff') format('woff'),url('../fonts/30B7EC_9_0.ttf') format('truetype');}


@font-face {font-family: 'FFMarkWebProLightItalic';src: url('../fonts/30B7EC_A_0.eot');src: url('../fonts/30B7EC_A_0d41d.eot?#iefix') format('embedded-opentype'),url('../fonts/30B7EC_A_0.woff2') format('woff2'),url('../fonts/30B7EC_A_0.woff') format('woff'),url('../fonts/30B7EC_A_0.ttf') format('truetype');}


@font-face {font-family: 'FFMarkWebProMediumItalic';src: url('../fonts/30B7EC_B_0.eot');src: url('../fonts/30B7EC_B_0d41d.eot?#iefix') format('embedded-opentype'),url('../fonts/30B7EC_B_0.woff2') format('woff2'),url('../fonts/30B7EC_B_0.woff') format('woff'),url('../fonts/30B7EC_B_0.ttf') format('truetype');}


@font-face {font-family: 'FFMarkWebProMedium';src: url('../fonts/30B7EC_C_0.eot');src: url('../fonts/30B7EC_C_0d41d.eot?#iefix') format('embedded-opentype'),url('../fonts/30B7EC_C_0.woff2') format('woff2'),url('../fonts/30B7EC_C_0.woff') format('woff'),url('../fonts/30B7EC_C_0.ttf') format('truetype');}


@font-face {font-family: 'FFMarkWebProBoldItalic';src: url('../fonts/30B7EC_D_0.eot');src: url('../fonts/30B7EC_D_0d41d.eot?#iefix') format('embedded-opentype'),url('../fonts/30B7EC_D_0.woff2') format('woff2'),url('../fonts/30B7EC_D_0.woff') format('woff'),url('../fonts/30B7EC_D_0.ttf') format('truetype');}
